;; WIP. Needs to adjust GitHub workflow
{:paths ["scripts"]
 :tasks
 {:requires ([cheshire.core :as json])
  :init (do (defn x [& cmds] (doseq [cmd cmds] (shell cmd)))
            (def v (-> (slurp "package.json") (json/parse-string true) :version)))
  dev     {:doc "Start local dev. Watches source code and unit tests"
           :task (x "rm -fr dist out"
                    "mkdir dist", "cp -R resources/. dist/"
                    "yarn", "npx shadow-cljs watch :plugin :test")}
  test    {:doc "Standalone testing"
           :task (x "npx shadow-cljs release test")}
  build   {:doc "Advance compilation of code ready for release"
           :task (x "rm -fr dist out"
                    "mkdir dist", "cp -R resources/. dist/"
                    "yarn", "npx shadow-cljs release :plugin")}
  release {:doc "Tag version and push to GitHub for triggering build and release workflow"
           :task (do (println "Releasing version:" v "...")
                     (x (format "git tag -a %s -m \"Release version: %s\"" v v)
                        (format "git push origin %s" v)))}}}


