{:source-paths ["src/dev" "src/main" "src/test"]
 :dependencies
 [[binaryage/devtools "1.0.7"]
  [org.slf4j/slf4j-simple "2.0.7"]
  [djblue/portal "0.38.2"]
  [funcool/promesa "10.0.594"]
  [medley "1.4.0"]
  [funcool/cuerdas "2022.06.16-403"]
  [rum "0.12.10"]]
 :dev-http {8080 "dist"}
 :nrepl {:port 8702
         :middleware [portal.nrepl/wrap-portal]
         :init-ns core}
 :compiler-options {:infer-externs      :auto
                    :output-feature-set :es-next
                    :source-map         true
                    :source-map-detail-level :all
                    :warnings           {:fn-deprecated false}}
 :builds
 {:plugin {:target :browser
           :module-loader true
           :output-dir "dist"
           :modules  {:index {:init-fn core/init}}
           :build-hooks [(portal.shadow.remote/hook)]
           :devtools {:preloads [devtools.preload
                                 portal.setup]
                      :after-load core/reload
                      :repl-pprint true
                      :watch-dir "dist"} ; Doesn't work for Logseq dev mode. Have to reload plugin.
           :dev {}
           :release {:compiler-options {:optimizations :advanced}}}
  :test {:target    :node-test ; simple TDD than browser-test dependency setup
         :output-to "out/node-test.js"
         :ns-regexp "-spec$"
         :autorun   true
         :devtools  {:repl-pprint true}}}}
