[{:word "procrastination",
  :phonetic "/pɹəʊˌkɹæs.tɪˈneɪ.ʃən/",
  :phonetics
  [{:text "/pɹəʊˌkɹæs.tɪˈneɪ.ʃən/", :audio ""}
   {:text "/-ʃn̩/",
    :audio
    "https://api.dictionaryapi.dev/media/pronunciations/en/procrastination-us.mp3",
    :sourceUrl
    "https://commons.wikimedia.org/w/index.php?curid=1217796",
    :license
    {:name "BY-SA 3.0",
     :url "https://creativecommons.org/licenses/by-sa/3.0"}}],
  :meanings
  [{:partOfSpeech "noun",
    :definitions
    [{:definition
      "The act of postponing, delaying or putting off, especially habitually or intentionally.",
      :synonyms [],
      :antonyms []}],
    :synonyms ["deferral" "prolongation"],
    :antonyms ["precrastination"]}],
  :license
  {:name "CC BY-SA 3.0",
   :url "https://creativecommons.org/licenses/by-sa/3.0"},
  :sourceUrls ["https://en.wiktionary.org/wiki/procrastination"]}]