@tailwind base;
@tailwind components;
@tailwind utilities;

.url-plus-backdrop {
    backdrop-filter: blur(1px);
}
.url-plus-box {
    background: lightgoldenrodyellow;
    padding: 1em;
    border-radius: 0.5em;
    border-width: 1px;
    box-shadow: 1px 1px 10px gray;
}
