name: Build Logseq Plugin URL+
run-name: ${{ github.actor }} is running GitHub Actions for Logseq Plugin URL+
env:
  PLUGIN_NAME: logseq-url-plus
on:
  push:
    tags:
      - "*.*.*"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Prepare NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      - name: Prepare Clojure Tools
        uses: DeLaGuardo/setup-clojure@10.1
        with: 
          bb: latest
      - name: Build Code
        run: |
          npm install -g yarn
          bb build
          mkdir ${{ env.PLUGIN_NAME }}
          cp package.json README.md demo.gif ${{ env.PLUGIN_NAME }}
          mv dist ${{ env.PLUGIN_NAME }}
          zip -r ${{ env.PLUGIN_NAME }}-${{ github.ref_name }}.zip ${{ env.PLUGIN_NAME }}
          ls
      - name: Create Release
        uses: ncipollo/release-action@v1.11.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VERSION: ${{ github.ref }}
        with:
          allowUpdates: true
          draft: false
          prerelease: false
      - name: Upload Release Assets
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            package.json
            ${{ env.PLUGIN_NAME }}-${{ github.ref_name }}.zip